# @schema
# description: Hazelcast license key (leave empty if using Community)
# type: string
# sensitive: true
# @schema
licenseKey: TrialLicense#10Nodes#eyJhbGxvd2VkTmF0aXZlTWVtb3J5U2l6ZSI6MTAwLCJhbGxvd2VkTnVtYmVyT2ZOb2RlcyI6MTAsImFsbG93ZWRUaWVyZWRTdG9yZVNpemUiOjAsImFsbG93ZWRUcGNDb3JlcyI6MCwiY3JlYXRpb25EYXRlIjoxNzY1NTQ3Mzk3LjgzNTk1OTU1MiwiZXhwaXJ5RGF0ZSI6MTc2ODA4OTU5OS45OTk5OTk5OTksImZlYXR1cmVzIjpbMCwyLDMsNCw1LDYsNyw4LDEwLDExLDEzLDE0LDE1LDE3LDIxLDIyXSwiZ3JhY2VQZXJpb2QiOjAsImhhemVsY2FzdFZlcnNpb24iOjk5LCJvZW0iOmZhbHNlLCJ0cmlhbCI6dHJ1ZSwidmVyc2lvbiI6IlY3In0=.p7mXuU2eRekNskk6lvNEOWutPPVJDYvoxrE5FQWE-lxxMehTo0B7H84JjrDhieshv1YsBwUqjTMrGQhKZsPPDw==
# @schema
# description: Repository for Hazelcast image
# type: string
# default: docker.io/hazelcast/hazelcast
# @schema
repository: docker.io/hazelcast/hazelcast
# @schema
# description: Hazelcast image version/tag
# type: string
# default: 5.6.0
# @schema
version: 5.6.0
# @schema
# description: list of Hazelcast clusters to create
# type: object
# @schema
cluster:
  # @schema
  # description: Cluster name
  # type: string
  # @schema
  name: "hz-first"
  # @schema
  # description: Number of members in the cluster
  # type: integer
  # minimum: 1
  # default: 1
  # @schema
  size: 1
